/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  &-column{
    @extend .flex;
    flex-direction: column;
  }

  &-row{
    @extend .flex;
    flex-direction: row;
  }

  @media screen and (max-width: 800px) {
    &-row{
      @extend .flex;
      flex-direction: column;
    }
  }
}

.table-container {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  flex: 1;
  overflow: auto;
}
